@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #4b6584;
  color: #ffffff;
}
.container {
  display: flex;
  gap: 4rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex: 0.8;
}
.title {
  font-size: 3rem;
}
.door-box {
  height: 300px;
  width: 160px;
  position: relative;
  perspective: 1000px;
  border: 2px solid #f7d291;
  cursor: pointer;
}
.door img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
  transform-origin: left;
  width: 10rem;
}
.door {
  width: 100%;
  height: 100%;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}
.image img {
  width: 8rem;
  top: 70px;
  left: 12px;
  position: absolute;
}
.answer {
  display: none;
}
.answer h4 {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.5rem;
}
.button {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

button {
  box-shadow: 0px 10px 14px -7px #eb3b5a;
  background: linear-gradient(to bottom, #eb3b5a 5%, #fc5c65 100%);
  background-color: #eb3b5a;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0.6rem 3rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  border: none;
  outline: none;
}
button:hover {
  background: linear-gradient(to bottom, #fc5c65 5%, #eb3b5a 100%);
  background-color: #fc5c65;
}
button:active {
  position: relative;
  top: 1px;
}
